/* Universal Styles */
html {
  font-size: 36px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

a {
  color: white;
}

.little {
  background-color: teal;
  width: 100%;
  height: 820px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

#burger {
  width: 100%;
  height: 480px;
  margin: 60px auto 20px auto;
}

video {
    margin: 60px auto 20px auto;
  }

.little i {
  position: relative;
  top: 120px;
}

.large {
  width: 100%;
  height: 820px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

#two {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/food.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#three {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/board.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#four {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/vegburger.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#five {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/email.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#six {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/jelly.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#seven {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/paddle.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#eight {
  background: url('file:///Users/jason/Documents/GitHub/hbj/resources/images/smiley.jpg') no-repeat center center fixed;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

#burger {
  width: 100%;
  height: 480px;
  margin: 60px auto 20px auto;
}

.large h1 {
  position: relative;
  top: 530px;
}

.large i {
  position: relative;
  top: 720px;
}
